@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /* Custom Scrollbar Styles */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #cbd5e1;
        /* slate-300 */
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #94a3b8;
        /* slate-400 */
    }

    /* For Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #cbd5e1 transparent;
    }
}